body {
    font-family:'Courier New','Lucida Sans Typewriter','Arial';
    color:white;

    background-color:rgb(110, 94, 76);
    background: url("https://cdn.discordapp.com/attachments/1138400448903139378/1140308625382985818/background.png");

    animation: scrolling 5s linear infinite;
}

@keyframes scrolling {
  from{
      background-position: 0 0;
  }
  to{
      background-position: 160px 160px;
  }
}

/*back of the box*/
.backbox{
    position:relative;

    align-items: center;
    align-content: center;
    border:15px solid rgb(105, 58, 78);
    border-radius:35px;
    background: linear-gradient(rgba(49, 27, 33, 0.88),rgba(35, 24, 59, 0.88))
}

/*title text*/
.Titlebox {
    position:relative;

    top:50px;
    bottom:50px;
    left:50%; transform:translateX(-50%);

    margin-bottom: 100px;

    width:1085px;

    text-align: center;
    line-height: 25px;

    filter: drop-shadow(0px 0px 15px rgb(0, 0, 0));

    border:15px solid rgb(105, 58, 78);
    border-radius:35px;
    background: linear-gradient(rgba(73, 41, 49, 0.7),rgba(53, 36, 90, 0.7))
}

.Title {
    font-size:75px;
    font-style: oblique;
    text-shadow: rgb(141, 90, 71) 0px 5px;
    text-align: center;

    animation:
    1.5s ease-in-out 0s infinite alternate both running hMove,
    3s ease-in-out 0.5s infinite alternate both running hWiggle;
    
}

@keyframes hMove {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-9px);
    }
}

@keyframes hWiggle {
    from {
        position: relative;
        left: 10px
    }
    to {
        position: relative;
        left: -12px
    }
}


/*subtitle*/
h2 {
    position:relative;
    font-size:25px;

    padding-bottom: 5px;

    text-align: center;
}


/*2nd subtitle*/
.Subtitle2 {
    position:relative;
    font-size:25px;
    height:40px;

    padding-bottom: 25px;

    color: yellow;
    text-align: center;
}


/*---------------------------------------pixelart box*/

/*box for all images*/
#artbox {
    position:relative;

    display: inline-flex;
    flex-flow: row wrap;

    align-items: center;
    align-content: center;

    justify-content:space-evenly;

}

.artObj {
    display: flex;

   /* border:5px solid rgb(247, 95, 125); */

    width: 600px;
    padding-top: 50px;

    flex-direction: column;
    align-items: center;
    align-content: center;
}

.artObj2 {
    display: flex;

   /* border:5px solid rgb(247, 95, 125); */

   padding-top: 50px;

    flex-direction: column;
    align-items: center;
    align-content: center;
}


/*---------------------------------images themselves*/
#artbox img {
    position:relative;
    padding: 15px;

    cursor: pointer;

    border:5px solid rgb(247, 95, 125);
    border-radius: 20px;
    background-color:rgb(36, 30, 39);
    filter: drop-shadow(0px 0px 15px rgb(0, 0, 0));

    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;

}

#artbox img:hover {
    scale: 1.05;
}

.imgp {
    font-size: 20px;
    text-align: center;

    padding-top: 25px;
    padding-bottom: 25px;

    margin: 0px;
}

/*-------------------------------project box*/

#projectbox {
    align-items: center;
    align-content: center;
}

/*box that contains whole project*/
.prObj {
    position:relative;

    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    

}

/*project thumbnail/embed itself */
.prItem {
    margin-bottom: 50px;
}

/*------------------------------description box*/

.descbox {
    position: relative;
    align-content: center;
    align-items: center;

    text-align: center;

    width: 900px;
    margin-bottom: 25px;

    border:5px solid rgb(247, 95, 125);
    border-radius: 20px;
    background-color:rgb(36, 30, 39);
}

.projp {
    font-size: 20px;

    margin: 25px;
}


/*--------------------------------------------the popup*/
#popup {
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: center;
    
    animation: boxAnimator 0.2s forwards;
    animation-timing-function: ease-in-out;

    background-color: rgba(0, 0, 0, 0);
}

#selected{
    height: 50%;

    animation: imageAnimator 0.25s forwards;
    animation-timing-function: ease-out;
}

/* popup animation */
@keyframes boxAnimator {
    0% { background-color: rgba(8, 5, 24, 0) }
    100% { background-color: rgba(8, 5, 24, 0.95) }
}

/* image grow animation */
@keyframes imageAnimator {
    0% { scale: 0.1 }
    100% { scale: 1.85 }
}

/*------------------------------------------------wich*/
#smBox {
    position: relative;

    padding-top: 25px;
    padding-bottom: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#sammic {

    position:relative;

    top: 0px;
    right: 0px;

    width: 8%;
    height: 8%;


    animation:
    3s ease-in-out 0s infinite alternate both running samX,
    3s ease-in-out 1.5s infinite alternate both running samY;
}

#sammic2 {
    
    position:relative;

    bottom: 60px;
    right: 0px;
    
    width: 8%;
    height: 8%;



    animation:
    3s ease-in-out 3s infinite alternate both running samX,
    3s ease-in-out 4.5s infinite alternate both running samY;
}

@keyframes samY {
    from {
        transform: translateY(-40px);
    }
    to {
        transform: translateY(40px);
    }
}

@keyframes samX {
    from {
        translate: -60px
    }
    to {
        translate: 60px
    }
}
/*-------------------------------------------------closer*/
#bottom {
    padding-top: 50px;
}